html, body {
  width: 100%;
  height: 1300px;
  margin: 0px;
  min-width: 700px;
}

.entete {
  width: 100%;
  height: 10%;
  min-height: 40px;
  background-image: url(Japan_image.jpg);
  background-size: 100%;
}

.menu {
  width: 100%;
  height: 30px;
  background-color: rgb(219, 219, 219);
}

.sideImages {
  height: 100%;
  width: 100%;
  background-image: url(Japan_image2.webp)
}

.sideImagesRight {
  height: 100%;
  width: 100%;
  background-image: url(japan_image3.jpg);
  background-position-x: 90%;
}

.left {
  width: 12%;
  height: 100%;
  float: left;
}

.right {
  width: 12%;
  height: 100%;
  background-position: 90%;
  float: right;
}

.center {
  height: 100%;
  width: 76%;
  float: left;
  overflow-wrap: break-word;
  overflow: scroll;
}

.center img {
    width: 30%;
    height: 20%;
    float: left;
}

.center h1{
    font-size: 70px;
}

.center h2{
    margin-left: 10px;
}

.center table{
    table-layout: fixed;
    width: 90%; 
    border: solid black 1px;
    border-spacing: 0px;
    margin: 5px 5% 5px 5%;
}

.center td{
    border: solid black 1px;
}

#learn_japanese{
  margin: 10px;
}

.h2_contactez{
  margin: 10px;
}

#formulaire {
  margin: 10px;
}

.footer {
  width: 100%;
  height: 5%;
  background-color: rgb(114, 114, 114);
  margin: 0px;
  position: relative;
}

#home {
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
}

#japon {
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
  background-color: black;
  color: white;
}

#haiti {
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
}

#suisse {
  width: 25%;
  height: 100%;
  text-align: center;
  float: right;
}

.menu h2 {
  margin: 0px;
  height: 100%;
}

.menu h2:hover {
  color: white;
  background-color: black;
}

p {
  margin: 2%;
}

#next{
  float: right;
}

#copyright p{
  margin-top: 0px;
  margin-right: 5px;
  float: right;
}